<html lang="en" data-theme="winter">
  <head>
  <head>
    <meta charset="utf-8" />
    <title>_hyperscript node example</title>
    <style id="theme-default"></style>
    <style id="theme-html"></style>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.38.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Hyperscript -->
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
    <!-- HTMX -->
    <script
      src="https://unpkg.com/htmx.org@1.8.4"
      integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
      crossorigin="anonymous"
    ></script>
    <script src="daisy-ui-theme.js"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap");
    </style>
  </head>
  </head>
  <body>
    {{{body}}}
  </body>
</html>